
/* BACKGROUNDS */
.bodyIndex{
	/*fondo de pantalla*/
	background-image: url("../imagenes/fondo_index.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	background-attachment: fixed;
}
.bodyEquipo{
	/*fondo de pantalla*/
	background-image: url("../imagenes/fondo_equipo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.bodyProductos{
	height: 100vh;
	/*fondo de pantalla*/
	background-image: url("../imagenes/fondo_productos.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.bodyUbicacion{
	height: 100vh;
	display: grid;
	grid-template-areas: 
	"navegador"
	"informacion"
	"pie"
	;
	grid-template-rows: 0.3fr 3fr 0.1fr;

	/*fondo de pantalla*/
	background-image: url("../imagenes/fondo_ubicacion.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.bodyContacto {
	/*fondo de pantalla*/
	background-image: url("../imagenes/fondo_contacto.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
