
@import "background.scss";
@import "bp-scss/bootstrap.scss";
/* CSS BOOTSTRAP */

.navbar-brand div {
	position: absolute;
	margin-left: 50px;
	margin-bottom: 6px;
}
.mainNosotros {
	grid-area: card;
}
.mainContacto {
	button {
		width: 7.5em;
	}
}
/* ANIMACIONES */

.navbar-collapse a {
	transition: all .4s;
}
.navbar-collapse a:hover {
	text-decoration: underline;
	font-size: 1.1em;
}
.mainEquipoPeople .card{
	transition: all .8s;
}
.mainEquipoPeople .card:hover{
	transform: translate(16px,-18px);
	box-shadow: 2px 4px 4px 2px rgba(30,30,30,1);
}
/* MEDIAS */

@media (min-width: 1745px) {
	.bodyIndex .navbar-brand div {
		font-size: 0px;
	}
	.bodyIndex .navbar-brand img {
		width: 46px;
		height: 40px;
	}
	.fs-2{
		font-size: 0px;
	}
	.mainIndex{
		display: grid;
		grid-template-areas: 
		"title"
		"arrow"
		"card"
		;
		grid-template-rows: 6.8fr 0.7fr 7.5fr;
		h1 {
		grid-area: title;
		font-size: 6.25em;
		}
	}
	.mainIndexArrow {
		grid-area: arrow;
			img{
				width: 14.375em;
				height: 7.5em;
				transition: all .38s;
			}
			img:hover {
				transform: translate(0px,-2.4em);	
			}
			
	}
	.mainNosotros {
		img {
			width: 17em;
			height: 21.1em;
		}
		h3 {
			font-size: 2.1em;
		}
		p {
			font-size: 1.1em;
		}
		.card {
			box-shadow: 3px 3px 3px 3px rgba(66, 66, 66, 0.336);
			width: 32rem;
		}
	}
	.bodyProductos .navbar-brand div {
		font-size: 0px;
	}
	.bodyProductos .navbar-brand img {
		width: 46px;
		height: 40px;
	}
	.bodyProductos {
		overflow: hidden;
	}
	.mainProductos {
		.container {
			margin-top: 5em;
		}
		.carousel-item img{
			height: 62vh;
		}
		h5 {
			font-size: 2em;
		}
		p {
			font-size: 1.2em;
		}
	}
	.bodyEquipo .navbar-brand div {
		font-size: 0px;
	}
	.bodyEquipo .navbar-brand img {
		width: 46px;
		height: 40px;
	}
	.mainEquipo {
		margin-top: 6em;
		.mainEquipoCards{
			display: flex;
			flex-wrap: wrap;
		}
		.card{
			width: 42rem;
		}
		img {
			width: 19em;
			height: 18em;
		}
	}
	.bodyUbicacion .navbar-brand div {
		font-size: 0px;
	}
	.bodyUbicacion .navbar-brand img {
		width: 46px;
		height: 40px;
	}
	.mainUbicacion {
		h3{
			font-size: 2.1em;
		}
		h6{
			font-size: 1.3em;
		}
		iframe {
			width: 28em;
			height: 37em;
		}
	}
	.bodyContacto .navbar-brand div {
		font-size: 0px;
	}
	.bodyContacto .navbar-brand img {
		width: 46px;
		height: 40px;
	}
	.mainContacto {
		height: 78.9vh;
		margin-top: 8em;
		padding: 2em;
	}
}
@media (min-width: 992px) and (max-width: 1744px) {
	.bodyIndex .navbar-brand div {
		font-size: 0px;
	}
	.bodyIndex .navbar-brand img {
		width: 46px;
		height: 40px;
	}
	.fs-2{
		font-size: 0px;
	}
	.mainIndex{
		display: grid;
		grid-template-areas: 
		"title"
		"arrow"
		"card"
		;
		grid-template-rows: 5fr 1fr 5fr;
		overflow-x: hidden;
		h1 {
		grid-area: title;
		font-size: 5em;
		}
	}
	.mainIndexArrow {
		grid-area: arrow;
			img{
				width: 12.375em;
				height: 6.5em;
				transition: all .38s;
			}
			img:hover {
				transform: translate(0px,-2.4em);	
			}
			
	}
	.mainNosotros {
		display: flex;
		flex-wrap: wrap;
		img {
			width: 10em;
			height: 13em;
		}
		h3 {
			font-size: 1.5em;
		}
		p {
			font-size: 0.9em;
		}
		.card {
			box-shadow: 3px 3px 3px 3px rgba(66, 66, 66, 0.336);
			width: 26.5rem;
		}
	}
	
	.bodyProductos .navbar-brand div {
		font-size: 0px;
	}
	.bodyProductos .navbar-brand img {
		width: 46px;
		height: 40px;
	}
	.bodyProductos {
		overflow: hidden;
	}
	.mainProductos {
		.container{
			margin-top: 3.6em;
		}
		.carousel-caption {
			margin-bottom: 1.2em;
		}
		.carousel-item img{
			
			height: 75vh;
		}
		h5 {
			font-size: 1.7em;
		}
		p {
			font-size: 1em;
		}
	}
	.bodyEquipo .navbar-brand div {
		font-size: 0px;
	}
	.bodyEquipo .navbar-brand img {
		width: 46px;
		height: 40px;
	}
	.mainEquipo {
		margin-top: 6em;
		.mainEquipoCards{
			display: flex;
			flex-wrap: wrap;
		}
		.card{
			width: 27rem;
		}
		img {
			width: 14.5em;
			height: 13em;
		}
	}
	.bodyUbicacion .navbar-brand div {
		font-size: 0px;
	}
	.bodyUbicacion .navbar-brand img {
		width: 46px;
		height: 40px;
	}
	.mainUbicacion {
		margin-top: 1.7em;
		padding: 2.5em;
		h3{
			font-size: 2em;
		}
		h6{
			font-size: 1.3em;
		}
		iframe {
			width: 22em;
			height: 29em;
		}
	}
	.bodyContacto .navbar-brand div {
		font-size: 0px;
	}
	.bodyContacto .navbar-brand img {
		width: 46px;
		height: 40px;
	}
	.mainContacto {
		margin-top: 3em;
		padding: 2em;
	}
}
@media (min-width: 320px) and (max-width: 991px) {
	.mainIndex h1{
		font-size: 0px;
	}
	.mainIndex{
		display: grid;
		grid-template-areas: 
		"arrow"
		"card"
		;
		grid-template-rows: 9fr 5.5fr;
		grid-template-columns: 100%;
		overflow-x: hidden;
	}
	.mainIndexArrow {
		grid-area: arrow;
			img{
				width: 12em;
				height: 10em;
				transition: all .38s;
			}
			img:hover {
				transform: translate(0px,-2.4em);	
			}
			
	}
	.mainNosotros {	
		display: flex;
		flex-wrap: wrap;
		img {
			width: 6.7em;
			height: 8em;
		}
		h3 {
			font-size: 1em;
		}
		p {
			font-size: 0.7em;
		}
		.card {
			box-shadow: 3px 3px 3px 3px rgba(66, 66, 66, 0.336);
			width: 1009rem;
		}
	}
	.bodyProductos{
		overflow: hidden;
	}
	.mainProductos {
		.container{
			margin-top: 7.5em;
		}
		.carousel-caption {
			margin-bottom: 10.4em;
		}
		.carousel-item img{
			height: 55vh;
		}
		h5 {
			font-size: 1.9em;
		}
		p {
			font-size: 1.4em;
		}
	}
	.mainEquipo {
		margin-top: 6em;
		.mainEquipoCards{
			display: flex;
			flex-wrap: wrap;
		}
		.card{
			width: 22.5rem;
		}
		img {
			width: 13.5em;
			height: 13em;
		}
	}
	.body.Ubicacion{
		overflow: hidden;
	}
	.mainUbicacion {
		margin-top: 2em;
		padding: 2.5em;
		h3{
			font-size: 1.9em;
		}
		h6{
			font-size: 1.1em;
		}
		iframe {
			width: 18em;
			height: 55.6em;
		}
	}
	.mainContacto {
		margin-top: 4em;
		height: 94vh;
		padding: 2em;
	}
}